<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DAM_Prover.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"></remove>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <DAM_Prover.My.MySettings>
      <setting name="UserID" serializeAs="String">
        <value>damprover09</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>damprover09</value>
      </setting>
      <setting name="DB_server" serializeAs="String">
        <value>damserver</value>
      </setting>
      <setting name="PulserASubsystem" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PulserBSubsystem" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Dimensions" serializeAs="String">
        <value>6, 13</value>
      </setting>
      <setting name="PulserADataFlow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PulserBDataFlow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PulserOutSubsystem" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PulserOutDataFlow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LowPressureHighTemp" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="MidPressureMidTemp" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="HighPressureLowTemp" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="ExcelReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TCIBaudRate" serializeAs="String">
        <value>b38400</value>
      </setting>
      <setting name="TCICommPort" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TCIAccessCode" serializeAs="String">
        <value>33333</value>
      </setting>
      <setting name="TempLimit" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="PressureLimit" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="TempPercentageMax" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="PressurePercentageMax" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="UncVolumeOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManualPressure" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManualTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomerId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PCIBoardName" serializeAs="String">
        <value>"DT335(00)"</value>
      </setting>
      <setting name="USBBoardName" serializeAs="String">
        <value/>
      </setting>
      <setting name="BoardType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InstrumentCommPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="InstrumentBaudRate" serializeAs="String">
        <value>38400</value>
      </setting>
      <setting name="InstrumentAccessCode" serializeAs="String">
        <value>33333</value>
      </setting>
      <setting name="ExcelLocation" serializeAs="String">
        <value>C:\Mi Testing Files\</value>
      </setting>
      <setting name="SetInstrumentDateTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RotaryMetricExcel" serializeAs="String">
        <value>C:\Mi Testing Files\</value>
      </setting>
      <setting name="MechExcel" serializeAs="String">
        <value>C:\Mi Testing Files\</value>
      </setting>
      <setting name="MechMetricExcel" serializeAs="String">
        <value>C:\Mi Testing Files\</value>
      </setting>
      <setting name="TachCommPort" serializeAs="String">
        <value>COM2</value>
      </setting>
      <setting name="PressureTolerance" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="TemperatureTolerance" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="SuperTolerance" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="UncVolumeTolerance" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="CorVolumeTolerance" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>dam_prover_test</value>
      </setting>
      <setting name="ICLocation" serializeAs="String">
        <value>\\crwall-01\Company\Inspection Certificates\MASTER MI testing files\CRWIC-trial.rpt</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>2.0.0.0</value>
      </setting>
    </DAM_Prover.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
	<connectionStrings>
		<add name="DAMProverEntities" connectionString="metadata=res://*/DamProverModel.csdl|res://*/DamProverModel.ssdl|res://*/DamProverModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\DAMProver.sdf&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
